body {
  background-color: bisque;
}
button {
  background-color: black;
  color: white;
  margin: 5px;
}
.container {
  margin: 0 auto;
  max-width: 200px;
}
p {
  text-align: center;
}
.result {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
h1 {
  font-size: 30px;
  text-align: center;
}
.answer {
  margin-top: 20px;
  background-color: #fff;
  border: 2px solid #000;
}
